*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}

.container{
    text-align: center;
   padding: 50px;
}
.header h1{
    color:whitesmoke;
    margin-bottom: 20px;
}

.header input{
   width: 300px;
   height: 30px;
   border: none;
   border-bottom: 1px solid blue;
   outline: 0;
   color: black;
   margin-bottom: 20px;
   padding-inline: 10px;
   font-size: 18px;

}
.header input::placeholder{
    color: black;
}
.header button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    transition: 0.7s all;
}
.header button:hover{
    transform:scale(0.9);
}

.content{
    width: 300px;
    height: 300px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: auto;
    padding: 1%;
}

.content #city,
.content #temp
{
    font-size: 35px;
    margin-bottom: 10px;
}
.content #desc{
    margin-bottom: 10px;
}
img {
    /* max-width: 300px; 
    max-height: 200px; */
    width:100px;
    height: 90px;
    
}
